body {
	width: 100%;
	height: 95%;
	
} 

.top-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 16px 24px 50px 24px;
}

.wrap>img {
	width: 40px;
	margin-bottom: 16px;
}
.wrap>h3 {
	font-size: 24px;
}
.wrap>p {
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}

.gj-dq {
	margin: 0 24px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}
.sjh {
	color: #999999;
	font-size: 14px;
}

.content-wrapper {
	margin: 0 24px;
}


.name-wrapper, .pwd-wrapper, .phone-wrapper {
	width: 100%;
	border-bottom: 1.5px solid #F0F0F0;
}

.name, .pwd, .phone{
	width: 200px;
	height: 50px;
	font-size: 18px;
	color: #333;
}
.pwd {
}
.error {
	color: red;
}

.container {
	font-size: 14px;
	color: #007dff;
	font-weight: 700!important;
	display: flex;
	justify-content: space-between;
	margin: 16px 0;
}

.select {
	position: relative;
}

.off {
	/* position: absolute;
	top: 0;
	left: 0; */
	width: 24px;
	height: 24px;
}



.btn-login, .btn-fanhui {
	width: 100%;
	height: 40px;
	background-color: #007dff;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 700;
}
.btn-login {
	background-color: #007dff;
	color: white;
}
.btn-fanhui {
	background-color: #F0F0F0;
	color: #007dff;
}

.bottom-wrapper {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.zhuce {
	display: block;
	margin-top: 40px;
	margin-bottom: 16px;
}
.fanhui {
	display: block;
	text-align: center;
	line-height: 40px;
}

.bottom {
	height: 16px;
}
.bottom>a {
	font-size: 14px;
	color: #007DFF;
	font-weight: 700;
}
.bottom>span {
	color: #A4A4A4;
	margin: 0 16px;
}


/* 表单 */
.Validform_error {
	background-color: white;
}

/* 错误信息 */
.Validform_wrong {
	padding-left: 5px;
}
.Validform_wrong {
	margin-left: 3px;
}

/* 正确信息 */
.Validform_right {
	padding-left: 5px;
}
.Validform_checktip {
	margin-left: 3px;
}